.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.loginForm input {
  width: 20rem;
}

.loginButton {
  background: rgb(70, 117, 247);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  color: white;
  width: 12rem;
}

.loginPage {
  border: 1px solid gray;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.emailInput,
.passwordInput,
.userNameInput {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.emailInput,
.passwordInput,
.userNameInput label {
  font: 700;
  font-size: 15px;
}

.linkToRegistrations {
  text-decoration: underline;
}
